	<p>
		<h1>OSU - INTRODUCTION TO DATABASES (CS_340_400_F2018)</h1>
		<h2>Stahltr@oregosntate.edu</h2>
	</p>


	<p>
	
			<ul>
			<li><a href="pantheons">Pantheons Page</a></li>
			<li>To view and add/remove pantheons</li>
			<li><a href="beings">Beings Page</a></li>
			<li>To view and add/remove beings</li>
			<li><a href="chars">Characteristics Page</a></li>
			<li>To view and add/remove Characteristics</li>
			<li><a href="ipas">IPA Page</a></li>
			<li>To view and add/remove IPAs</li>
			<li><a href="meta-pantheons">Meta-Pantheon Page</a></li>
			<li>To view and add/remove MPIDS</li>
			</ul>
	
	</p>